 @import "variables";

// .btn {
//   &-unique {
//     @include button-variant($primary, $danger);

//     font-family: fantasy;
    
//   }
// }

.btn {
  &-login {
    @include button-variant($frontpage-yellow, $frontpage-yellow);

    font-family: 'Times New Roman', Times, serif;

    background: $frontpage-yellow;

    font-weight: bold;

    @include media-breakpoint-up("lg") {

      background: $frontpage-green;

      border: $frontpage-green;

      color: $frontpage-white;

    }
  }
}